* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #1e1e22;
  color: #ffff;
  font-family: "Roboto", sans-serif;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 95vh;
  transition: background 0.2s linear;
}

body.light {
  background-color: #ffffff;
  color: #1e1e22;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 20px;
  width: 45px;
  transform: scale(1.5);
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
}

.label .ball {
  background-color: #1e1e22;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.bi-sun-fill {
  color: #1e1e22;
  font-size: 0.75rem;
}

.bi-moon-fill {
  color: #1e1e22;
  font-size: 0.75rem;
}

.header {
  margin-top: 24px;
  margin-bottom: 24px;
}

.header .photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid transparent;
  background: linear-gradient(#efc676, #ed5636, #633bbc) padding-box,
    linear-gradient(260deg, #d39e33, #ed5636, #633bbc) border-box;
  margin-bottom: 8px;
}

.header h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 125%;
}

.header span {
  font-size: 1.15rem;
  font-weight: 400;
}

.header span p {
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 125%;
  margin-top: 8px;
  margin-bottom: 12px;
}

.header span a {
  font-weight: 500;
  font-size: 0.95rem;
  color: #ffffff;
  text-decoration: none;
}

.header span a:hover {
  color: #d39e33;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

nav a {
  color: #1e1e22;
  text-decoration: none;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #efc676, #ed5636, #633bbc) border-box;
  border: 2px solid transparent;
  border-radius: 50px;
  width: 285px;
  height: 45px;
  box-sizing: border-box;
  /* shadow_link */
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
  text-align: justify;
}

nav a:hover {
  margin-left: 15px;
  transition: 0.5s;
}

nav a i {
  font-size: 1.4rem;
  position: absolute;
  margin-left: 20px;
  margin-top: 8px;
}

nav a span {
  font-weight: 500;
  position: absolute;
  margin-left: 80px;
  margin-top: 10px;
}

.social-footer {
  margin-top: 24px;
}

.social-footer a {
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 50px;
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.15rem;
  margin-right: 6px;
  background-color: #1e1e22;
}

.social-footer a:hover {
  color: #1e1e22;
  background-color: #ffffff;
  font-size: 1.15rem;
  transition: 0.5s;
}

@media (max-width: 768px) {
  body {
    height: 90vh;
    overflow-x: hidden;
  }
}
